---
import {
  Card,
  CardDescription,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import LucideIcon from "@/components/lucide-icon.astro";
import type { icons } from "@lucide/astro";

interface Props {
  featureList: {
    name: string;
    description: string;
    icon: keyof typeof icons;
    link: string;
  }[];
  icon: keyof typeof icons;
  title: string;
  description: string;
}

const { featureList, icon, title, description } = Astro.props;
---

<main>
  <h1 class="flex flex-row items-center gap-1">
    <LucideIcon name={icon as any} />
    {title}
  </h1>
  <p>{description}</p>
  <br />

  <div class="flex flex-col items-center justify-center mt-2">
    <div class="modules">
      {
        featureList.map((e) => (
          <a href={e.link}>
            <Card className="card w-full h-full">
              <CardHeader>
                <CardTitle>
                  <span class="flex items-center gap-1">
                    <LucideIcon name={e.icon} />
                    {e.name}
                  </span>
                </CardTitle>
                <CardDescription>{e.description}</CardDescription>
              </CardHeader>
            </Card>
          </a>
        ))
      }
    </div>
  </div>
</main>

<style>
  @reference "tailwindcss";
  .card {
    @apply cursor-pointer transition-all duration-200 ease-in-out hover:scale-102;
  }
  .modules {
    @apply container grid grid-cols-[repeat(2, 20vh)] gap-2 grid-rows-[repeat(2, 20vh)];
  }
</style>
